<section class="cadastro-cliente">

      <div class="card" style="width: 50rem;">

        <div class="badge badge-light" role="alert">
          <h4>Cadastro cliente</h4>
        </div>

          <div class="card-body">

                <ComponentMensagem :mensagemSucesso="mensagemSucesso" :success="sucesso" :mensagensErros="mensagensErros" :error="error"></ComponentMensagem>

                  <form>
                        <ComponentFormCliente :cliente="cliente"></ComponentFormCliente>

                        <button type="submit" class="btn btn-primary" @click="salvarCliente()">Salvar</button>
                        <router-link  href="#" to="/Cliente" class="btn btn-secondary">Voltar</router-link>
                  </form>
              </div>
        </div>
</section>
