
<section class="editar-cliente">



      <div class="card" style="width: 50rem;">

        <div class="badge badge-light" role="alert">
          <h4>Editar cliente</h4>
        </div>

          <div class="card-body">

                <ComponentMensagem :mensagemSucesso="mensagemSucesso" :success="sucesso" :mensagensErros="mensagensErros" :error="error"></ComponentMensagem>

                  <form>
                        <ComponentFormCliente :cliente="cliente"></ComponentFormCliente>

                        <button type="submit" class="btn btn-primary" @click="editarCliente()">Salvar</button>
                        <button type="submit" class="btn btn-secondary" @click="voltar()">Voltar</button>
                  </form>
              </div>
        </div>

</section>
